<section class="projects content-block">
    {% for project in site.data.projects.projects.projects %}
    <div class="project-tile grid-container">
        {%
        include aria-image.html
        aria-label=project.aria-label
        image-url=project.image
        %}

        {%
        include see-more-card.html
        title="Latest project"
        subtitle="PROJECT NAME"
        button-href=project.permalink
        button-label="Project details"
        %}
    </div>
    {% endfor %}
</section>