<footer role="">
    <div class="footer-container">
        <div class="grid-container">
            <div class="colspan-3">
                <div role="image" aria-label="Victoria Landscape Lighting Ltd. logo">logo</div>
            </div>
            <div class="colspan-3 align-right">
                <nav aria-label="Footer Navigation">
                    <ul>
                        {% for item in site.data.menu %}
                        <li>
                            <a {% if page.class==item.title %}class="active" {% endif %} href="{{ item.url }}">
                                {{ item.title | capitalize }}
                            </a>
                        </li>
                        <li aria-hidden="true" class="middot">&middot;</li>
                        {% endfor %}
                        <li class="instagram">
                            <a href="">{% include svgs/instagram.svg %}</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <hr />
        <div class="grid-container footer-bottom-row">
            <div class="colspan-3">
                <p>
                    <a href="">adam@victorialandscapelighting.com</a>
                </p>
            </div>
            <div class="colspan-3 align-right copyright">
                <p>
                    &copy;2024 Victoria Landscape Lighting Ltd.
                </p>
            </div>
        </div>
    </div>
</footer>