<section class="get-in-touch content-block" aria-labelledby="get-in-touch-heading" aria-describedby="get-in-touch-description">
    <div class="grid-container">
        <h2 id="get-in-touch-heading" class="colspan-4">{{ site.data.get-in-touch.title }}</h2>
    </div>
    <div class="grid-container">
        <p id="get-in-touch-description" class="colspan-4">{{ site.data.get-in-touch.description }}</p>
    </div>
    <a class="button-primary" href="{{ site.data.get-in-touch.button-href }}">{{ site.data.get-in-touch.button-label }}</a>
</section>