.width {
    max-width: $width;
    padding: 0 3em;
    margin: 0 auto;
    position: relative;

    @media screen and (max-width: $breakpoint-small) {
        padding: 0 1.5em;
    }
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.rounded-corner {
    border-radius: $corner-radius--large;
}

.image-400-300 {
    height: $image-height-large;

    @media screen and (max-width: $breakpoint-small) {
        height: $image-height-small;
    }
}