/* Type */

$font-sans-serif: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

/* Colors */

$brand-primary: #254920;
$brand-secondary: #CFA47A;
$brand-tertiary: #F7F4ED;

$color: $brand-primary;
$color--darkMode: green;

$color-background: #FEFCF7;
$color-background--darkMode: #111;

/* Layout */

$width: 962px;
$corner-radius--large: 24px;

/* Responsive */

$breakpoint-large: 820px;
$breakpoint-small: 640px;

/* Images */
$image-height-large: 400px;
$image-height-small: 300px;