/* Type */

$font-sans-serif: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

/* Colors */

$color: #254920;
$color--darkMode: green;

$color-background: #ECEEEB;
$color-background--darkMode: #111;

/* Layout */

$width: 60em;

/* Responsive */

$breakpoint-small: 640px;