.see-more-card {
    @extend .rounded-corner;
    background-color: $brand-tertiary;
    display: flex;
    flex-direction: column;

    .inner {
        padding: 1.5em;
    }

    .see-more-title {
        font-size: 1em;
    }

    .see-more-subtitle {
        font-size: 1.25em;
    }

    p {
        margin: 0;
    }

    .see-more-link {
        margin-top: auto;
        border: 1px solid $brand-primary;
        padding: .5em 1em;
        margin-left: .5em;
        margin-right: .5em;
        margin-bottom: .5em;
        border-radius: 16px;
        
        a {
            display: flex;
            text-decoration: none;
            color: $color;
            font-size: 1.25em;
            font-weight: 500;
        }

        span {
            margin-left: auto;
        }
    }
}