<section class="recent-work" aria-label="">
    <div class="first" role="image" aria-label="{{ include.first-image-aria-label }}" style="background-image: url('{{ include.first-image }}'); background-size: cover;"></div>
    <div class="second" role="image" aria-label="{{ include.second-image-aria-label }}" style="background-image: url('{{ include.second-image }}'); background-size: cover;"></div>
    <div class="third" role="image" aria-label="{{ include.third-image-aria-label }}" style="background-image: url('{{ include.third-image }}'); background-size: cover;"></div>
</section>